.featured{
	background-color: $sectionColorSecondary;
	overflow-x: hidden; 
	h2{
		margin: auto;
	}
	ul{
		display: flex;
		margin: auto;
		@media (max-width: 669px) {
			display: none;
		}
	}
	li{
		font-size: 1.6rem;
		text-transform: uppercase;
		color: $fontColorSecondary;
		margin: 40px 23px 55px 23px;
		transition: all 0.3s;
		@media (max-width: 670px) {
			margin: 20px 12px 27px 12px;
		}
	}
	li:hover{
		cursor: pointer;
		color: $accentColor;
	}
}

.feature--flexRow{
	display: flex;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.plantAbsolute{
	position: absolute;
	overflow: hidden;
	bottom: 0%;
	right: -70.5%;
	@media (max-width: 1640px) {
		right: -60%;
	}
	@media (max-width: 1440px) {
		right: -45%;
	}
	@media (max-width: 1240px) {
		display: none;
	}
}

.featured__container{
	width: 50%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 48.5% 48.5%;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	margin-right: 30px;
	@media (max-width: 1240px) {
		grid-column-gap: 18px;
		grid-row-gap: 12px;
	}
	@media (max-width: 940px) {
		width: 55%;
		
	}
	@media (max-width:768px) {
		width: 100%;
		margin-right: 0px;
	}
	@media (max-width: 669px) {
		margin-top: 30px;
	}
}

.item--feature{
	div{
		background-color: #FFF;
		img{
			width: 100%;
		}
		p{
			padding: 0px 15px;
			font-size: 1.6rem;
			text-align: center; 
			margin: 0;
			}
		.halfPlant{
			height: 100%;
			padding-bottom: 124px;
			@media (max-width: 1014px) {
			padding-bottom: 150px;
			}
			@media (max-width: 768px) {
			padding-bottom: 124px;
			}
			@media (max-width: 490px) {
			padding-bottom: 150px;
			}
		}
		.price{
			color: $fontColorSecondary;
			text-align: center; 
			padding: 15px 0 30px 0;
		}
	}
}

.feature__header{
	font-size: 3.6rem;
	text-transform: uppercase;
	@media (max-width: 480px) {
		font-size: 3rem;
	}
	p{
		margin: 0;
	}
	span{
		color: $accentColor;
		font-weight: bold;
	}
}

.feature__content{
	font-size: 1.5rem;
	color: $fontColorSecondary;
	overflow-x: hidden;
	p{
		margin: 50px auto 70px auto;
	}
	
}

.featured__feature{
	margin-left: 30px;
	padding: 98px 48px;
	width: 48%;
	position: relative;
	@media (max-width: 1240px) {
		border: 7px solid #FFF;
	}
	@media (max-width: 1170px) {
		margin-left: 10px;
		padding: 68px 28px;
	}
	@media (max-width: 940px) {
		width: 45%;
		padding: 78px 28px;
	}
	@media (max-width: 768px) {
		margin: 30px auto 0 auto;
		width: 100%;
		display: block;
		padding: 50px 28px;
	}
}