footer{
	padding: 105px 0px 95px 0px;
	font-family: $contentTypog;
	background: url(../images/footer_bg.jpg);
	background-size: cover;
	background-position: bottom right; 
	background-repeat: no-repeat;
	h5{
		font-size: 1.8rem;
		margin: 0;
		margin-bottom: 70px;
		text-transform: uppercase;
		color: $fontColorTert;
		text-align: center;
		@media (max-width: 940px) {
			margin-bottom: 50px;
		}
		@media (max-width: 480px) {
			margin-bottom: 30px;
		}
	}
	i{
		color: $fontColorSecondary;
	}
	i:hover{
		color: $fontColorTert;
		transition: all 0.3s;
	}
	p{
		font-size: 1.5rem;
		color: $fontColorSecondary;
		transition: all 0.3s;
	}
	p:hover{
		color: $fontColorTert;
	}
}

.footer--flexRow{
	display: flex;
	@media (max-width: 940px) {
		flex-wrap: wrap;
	}
}

.footer__social{
	i{
		font-size: 2rem;
		margin: 58px 10px;
	}
}

.footer__column{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	margin: 0 auto;
	@media (max-width: 940px) {
		width: 50%;
	}
	@media (max-width: 480px) {
		width: 100%;
	}
	p{
		text-align: center;
		margin: 8px auto;
	}
}

@media (max-width: 940px) {
	.footer__column.footer__form{
		width: 100%;
		margin-top: 50px;
	}
}

form{
	width: 100%;
	input{
		margin-top: 25px;
		font-size: 1.4rem;
		width: 100%;
		display: block;
		padding: 16px 0;
		text-align: center;
	}
	.button.button--accent{
		padding: 15px 0;
		width: 135px;
		margin: 10px auto;
	}
}