// HEADER

header{
	font-family: $contentTypog;
}

.header__topBar--mobile{
	display: none;
	background-color: $navBarColorTert;
	color: $fontColorSecondary;
	font-size: 1.2rem;
	text-transform: uppercase;
	.fa-bars{
		font-size: 2rem;
		padding: 10px 0px 10px 30px;
	}
	ul{
		display: none;
	}
	li{
		padding: 10px 20px;
		text-align: center;
		a{
			color: $fontColorSecondary;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	@media (max-width: 480px) {
		display: block;
	}
}

.navBreak{
	div:after {
	   content:"";
	   border-top: 2px solid $fontColorSecondary;
	   display: block;
	   width: 60%;
	   margin: 0 auto;
	 }
}

.header__topBar{
	background-color: $navBarColorTert;
}

.header__topBar--nav{
	color: $fontColorSecondary;
	font-size: 1.2rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	.nav--left{
		display: flex;
		li{
			padding: 25px 0; 
		}
		li:nth-child(2) {
		    padding: 25px 36px;
		    @media (max-width: 630px) {
		    	padding: 25px 18px;
		    }
		    @media (max-width: 630px) {
		    	padding: 25px 9px;
		    }
		}
		@media (max-width: 480px) {
			display: none;
		}
	}
	.nav--right{
		display: flex;
		li{
			padding: 25px 0; 
		}
		li:nth-child(2) {
		    padding: 25px 36px;
		    @media (max-width: 630px) {
		    	padding: 25px 18px;
		    }
		    @media (max-width: 4800px) {
		    	padding: 25px 9px;
		    }
		}
	}
	@media (max-width: 480px) {
		display: none;
	}
}

.header__logo{
	display: flex;
	img{
		margin: 35px auto 35px auto;
		@media (max-width: 768px) {
			margin: 28px auto 10px auto;
		}
	}
}

.nav__main{
	font-size: 1.4rem;
	display: flex;
	ul{
		display: flex;
		justify-content: center;
		margin: auto;
		@media (max-width: 940px) {
			background-color: blue;
			flex-wrap: wrap;
		}
	}
	li{
		padding: 30px 40px;
		@media (max-width: 1240px) {
			padding: 18px 24px;
		}
	}
	a{
		text-transform: uppercase;
		color: $fontColorMain;
		text-decoration: none;
	}
	@media (max-width: 480px) {
		display: none;
	}
}

.header__hero{
	background: url(../images/plant_hero.jpeg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	.heroLogoContainer{
		margin: auto;
		padding: 125px 200px 0px 200px;
		@media (max-width: 940px) {
		 padding: 100px 100px 0px 100px;
		 width: 90%;
		}
		@media (max-width: 768px) {
		 padding: 40px 70px 0px 70px;
		 width: 80%;
		}
		@media (max-width: 480px) {
		 padding: 40px 20px 0px 20px;
		 width: 80%;
		}
		img{
			width: 100%;
		}
	}
	h3{
		font-weight: lighter;
		font-size: 2.2rem;
		letter-spacing: 3px;
		color: $fontColorTert;
		text-transform: uppercase;
		margin: 0 auto 40px auto;
		@media (max-width: 940px) {
			font-size: 2rem;
		}
		@media (max-width: 768px) {
			padding: 0 50px;
			text-align: center;
		}
		@media (max-width: 480px) {
			font-size: 1.8rem;
		}
		@media (max-width: 320px) {
			font-size: 1.6rem;
		}
	}
	.buttonContainer{
		display: flex;
		margin: 0px auto 170px auto;
		@media (max-width: 940px) {
			margin: 0px auto 100px auto;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			margin: 0px auto 40px auto;
		}
	}
}