// typography
$decorativeTypog: 'Spirax', cursive;
$contentTypog: 'Poppins', sans-serif;

// color palette
$fontColorMain: #2b2b2b;
$fontColorSecondary: #8e8e8e;
$fontColorTert: #FFF;
$accentColor: #809E61;
$accentColorVibrant: #D8DC61;
$sectionColorMain: #FFF;
$sectionColorSecondary: #f1f1f1;
$navBarColorTert: #2b2b2b;
$footerColorTert: #292a29;