<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Flowie</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Spirax" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
		<header>
			<!-- MOBILE NAV -->
						<nav class="header__topBar--mobile">
							<i id="mobileMenu" class="fa fa-bars" aria-hidden="true"></i>
							<ul>
								<li>
									<a href="">Home</a>
								</li>
								<li>
									<a href="">Women</a>
								</li>
								<li>
									<a href="">Men</a>
								</li>
								<li>
									<a href="">Features</a>
								</li>
								<li>
									<a href="">Services</a>
								</li>
								<li>
									<a href="">Blog</a>
								</li>
								<li>
									<a href="">Contact</a>
								</li>
								<li>
									<a href="">Log In</a>
								</li>
								<li class="navBreak">
									<div></div>
								</li>
								<li>
									<a href="">Register</a>
								</li>
								<li>
									<a href="">Account</a>
								</li>
								<li>
									<a href="">USD</a>
								</li>
								<li>
									<a href="">English</a>
								</li>
								<li>
									<a href="">Wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-search" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</nav>
		<!-- 	mobile ends -->
			<div class="header__topBar">
				<div class="header__topBar--nav contentWrapper">
					<ul class="nav--left">
						<li>Log In</li>
						<li>Register</li>
						<li>Account</li>
					</ul>
					<ul class="nav--right">
						<li>USD</li>
						<li>English</li>
						<li>Wishlist</li>
					</ul>
				</div>
			</div>

<!-- DESKTOP NAV -->
			<div class="header__logo contentWrapper">
				<img src="assets/images/homepage_logo.png" alt="Flowie Company Logo">
			</div>
			<nav class="nav__main contentWrapper">
				<ul>
					<li>
						<a href="">Home</a>
					</li>
					<li>
						<a href="">Women</a>
					</li>
					<li>
						<a href="">Men</a>
					</li>
					<li>
						<a href="">Features</a>
					</li>
					<li>
						<a href="">Services</a>
					</li>
					<li>
						<a href="">Blog</a>
					</li>
					<li>
						<a href="">Contact</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__hero">
				<h1>Flowie From Hearts</h1>
				<div class="heroLogoContainer">
					<img src="assets/images/flowie_from_hearts.png" alt="Flowie from hearts aesthetic font">
				</div>
				<h3>Give your Full of Love For This Planet</h3>
				<div class="buttonContainer">
					<button class="button button--action">View Products</button>
					<button class="button button--accent">See All</button>
				</div>
			</div>
		</header>
		<main>
<!-- ABOUT -->
			<section class=" about contentWrapper">
				<div class="about--wrapper__text">
				<h2>Welcome to Flowie Garden</h2>
				<p>Hawker & Jonre PSD Template is an awesome design idea for your online shop. Clean Also it will be very easy to customize, enable you to either create a stunning layout of your own or just do some minor and some adjustments.</p>
				</div>
				<div class="about__container">
					<div>
						<img src="assets/images/square__01.jpg" alt="">
						<p>Who We Are?</p>
					</div>
					<div>
						<img src="assets/images/square__02.jpg" alt="">
						<p>How We Work?</p>
					</div>
					<div>
						<img src="assets/images/square__03.jpg" alt="">
						<p>About Our Products</p>
					</div>
				</div>
			</section>
<!-- FEATURED -->
			<section class="featured">
				<div class="contentWrapper flex">
					<h2>Featured Items</h2>
					<ul>
						<li>Home Decor</li>
						<li>Workspace</li>
						<li>Out Door</li>
						<li>For Gift</li>
				</ul>
				<div class="feature--flexRow">
					<div class="featured__container">
						<div class="item--feature">
							<div>
								<img src="assets/images/Homepage-01_plant_07.jpg" alt="">
								<p>Small Cactus Variety pot from France</p>
								<p class="price">$45.00</p>
							</div>
							<button class="button button--item">Add To Cart</button>
							</div>
							<div class="item--feature">
								<div>
									<img src="assets/images/Homepage-01_plant_09.jpg" 	alt="">
								<p>Small Cactus Variety pot from France</p>
									<p class="price">$45.00</p>
								</div>
								<button class="button button--item">Add To Cart</button>
							</div>
							<div class="item--feature">
								<div>
									<img class ="halfPlant" src="assets/images/half_plant.png" alt="">
								</div>
								<button class="button button--item">Add To Cart</button>
							</div>
							<div class="item--feature">
								<div>
									<img src="assets/images/Homepage-01_plant_15.jpg" alt="">
									<p>Small Cactus Variety pot from France</p>
									<p class="price">$45.00</p>
								</div>
								<button class="button button--item">Add To Cart</button>
							</div>
						</div>
						<div class="featured__feature">
							<div class="feature__header">
								<p>We From France.</p>
								<p>
									<span>Bestwishes</span> For You.
								</p>
							</div>
							<div class="feature__content">
							<p>Hawker & Jonre PSD Template is an awesome design idea for your online shop. Creative. Modern. Elegant. Clean. Also it will be very easy to customize, enable you to either create a stunning layout of your own or just do some minor and some adjustments.</p>
							<button class="button button--item">View More</button>
							</div>
							<img class="plantAbsolute" src="assets/images/plantAbsolute.png" alt="">
						</div>
					</div>
				</div>
			</section>
<!-- NEW ARRIVALS -->
			<section class="newArrivals contentWrapper">
				<h2>New Arrivals</h2>
				<div class="toggleContainer">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
					<p>|</p>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</div>
				<div class="newArrivals__grid">
					<div class="grid--50">
						<img src="assets/images/Homepage-01_plants_23.jpg" alt="">
					</div>
					<div>
						<img src="assets/images/Homepage-01_plants_25.jpg" alt="">
					</div>
					<div>
						<img src="assets/images/Homepage-01_plants_27.jpg" alt="">
					</div>
					<div class="a">
						<img src="assets/images/Homepage-01_plants_33.jpg" alt="">
					</div>
					<div class="b">
						<img src="assets/images/Homepage-01_plants_35.jpg" alt="">
					</div>
					<div class="c">
						<img src="assets/images/Homepage-01_plants_36.jpg" alt="">
					</div>
					<div class="d">
						<img src="assets/images/Homepage-01_plants_37.jpg" alt="">
					</div>
				</div>
			</section>
<!-- BANNER -->
			<section class="banner__video">
				<div>
					<img src="assets/images/life_of_farm.png" alt="">
				</div>
			</section>
<!-- BLOG -->
			<section class="blog contentWrapper">
				<h2>From Our Blog</h2>
				<div class="blog__content">
					<div class="blog__card">
						<img src="assets/images/blog_01.jpg" alt="">
						<div class="blog__text">
							<div class="blog__date">
								<p>12</p>
								<p>March</p>
							</div>
							<div class="blog__post">
								<p class="blog__title">News: They are not part of this theme anything and anymore </p>
								<p>
									<span>Posted by themesun / 0 Comments</span>
								</p>
								<p>Use, by you or one client, in a and single end product which end tos users are not charged for. The kos total price an includes the item. Malesuada ultricies. Grumpy wizards make toxic brew for the evil...</p>
							</div>
						</div>
					</div>
					<div class="blog__card">
						<img src="assets/images/blog_02.jpg" alt="">
						<div class="blog__text">
							<div class="blog__date">
								<p>23</p>
								<p>March</p>
							</div>
							<div class="blog__post">
								<p class="blog__title">News: They are not part of this theme anything and anymore </p>
								<p>
									<span>Posted by themesun / 0 Comments</span>
								</p>
								<p>Use, by you or one client, in a and single end product which end tos users are not charged for. The kos total price an includes the item. Malesuada ultricies. Grumpy wizards make toxic brew for the evil...</p>
							</div>
						</div>
					</div>
				</div>
			</section>
<!-- CLIENTS -->
			<section class="clients">
				<div class="client__container contentWrapper">
					<div>
						<img src="assets/images/Logo1.png" alt="">
					</div>
					<div>
						<img class="marginLogo--left" src="assets/images/Logo2.png" alt="">
					</div>
					<div>
						<img class="marginLogo--center" src="assets/images/Logo3.png" alt="">
					</div>
					<div>
						<img class="marginLogo--right" src="assets/images/Logo4.png" alt="">
					</div>
					<div>
						<img src="assets/images/Logo5.png" alt="">
					</div>
				</div>
			</section>
		</main>
<!-- FOOTER -->
		<footer>
			<div class="contentWrapper footer--flexRow">
			<div class="footer__column footer__about">
				<h5>About Us</h5>
				<div>
					<img src="assets/images/flowie_dark.jpg" alt="">
				</div>
				<p>Flowie - I appreciate all the positive feedback. It means a lot.</p>
				<div class=footer__social>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-pinterest-p" aria-hidden="true"></i>
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
			</div>
			<div class="footer__column footer__information">
				<h5>Information</h5>
				<p>Shipping and Policies</p>
				<p>Delivery</p>
				<p>My Account</p>
				<p>Asked Questions</p>
				<p>Browse Products</p>
				<p>Payment & Returns</p>
			</div>
			<div class="footer__column footer__form">
				<h5>Subscribe</h5>
				<p>© Flowie Wordpress. Site by Zooka.io. All Right Reserved 2015.</p>
				<form>
					<input class="inputEmail" type="email" placeholder="Your email">
					<input class="button button--accent" type="submit" value="Send Us">
				</form>
			</div>
			</div>
		</footer>
    </div>
   <!--  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script> -->
</body>
</html>

